@model NetApp.Entities.Avmt.DisTransferBill

@{
    ViewData["Title"] = "DisTransferBillDetail";
    
}

<div>
    <h4>@Model.BusinessCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvinceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvinceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BureauCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BureauCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    @await Html.PartialAsync("Workspaces", Model.Workspaces)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
