@using NetApp.Entities.Avmt
@model IEnumerable<BillBase>
@{
    Layout = "/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "单据";
    var mainBills = Model.OfType<MainTransferBill>();
    var disBills = Model.OfType<DisTransferBill>();
    var changeBills = Model.OfType<ChangeBill>();

}

<h5>主网移交</h5>
<ul>
    @foreach (var b in mainBills)
    {
        <li>
            <a asp-action="MainTransferBillDetail" asp-route-id="@b.Id">主网移交 @b.BusinessBillCode</a>
        </li>
    }
</ul>
<br />
<h5>配网移交</h5>
<ul>
    @foreach (var b in disBills)
    {
        <li>
            <a asp-action="DisTransferBillDetail" asp-route-id="@b.Id">配网网移交 @b.BusinessCode</a>
        </li>
    }
</ul>
<br />
<h5>变更</h5>
<ul>
    @foreach (var b in changeBills)
    {
        <li>
            <a asp-action="ChangeBillDetail" asp-route-id="@b.Id">配网网移交 @b.ChangeCode</a>
        </li>
    }
</ul>
