@model NetApp.Entities.Avmt.MainTransferBill

@{
    ViewData["Title"] = "MainTransferDetailView";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div>
    <h4>@Model.BusinessBillCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessBillName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessBillName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvinceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvinceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BureauCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BureauCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @await Html.PartialAsync("Workspaces", Model.Workspaces)
</div>
<button id="getEvents" class="btn btn-default">Get Events</button>
<div id="partView">
</div>
<script>
    (function () {
        window.onload = function () {
            let partView = document.getElementById("partView")
            partView.innerHTML = "<div>in it</div>"
            let btnEvents = document.getElementById("getEvents")
            btnEvents.onclick = function () {
                fetch("/avmt/Workspaces?billId=d41cb2b81371457ab1934df998224843")
                    .then(response => response.text())
                    .then(text => partView.innerHTML = text)
            }
        }
    })();
</script>
